<!DOCTYPE html>
<html lang="en" ng-strict-di>

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width,initial-scale=1,maximum-scale=1">
    <title page-title>tours view</title>
    <!-- Fav Icon -->
    <link href="/{{favicon}}" rel="shortcut icon" type="image/x-icon">
    <link href="https://fonts.googleapis.com/css?family=Cormorant+Garamond:600&amp;subset=vietnamese" rel="stylesheet">
    <!-- Application CSS Files -->
    <link rel='stylesheet prefetch' href='https://fonts.googleapis.com/icon?family=Material+Icons'>
    <link rel='stylesheet prefetch' href='https://cdn.gitcdn.link/cdn/angular/bower-material/v1.1.1/angular-material.css'>
    <!-- <link rel='stylesheet prefetch' href='https://cdn.rawgit.com/alenaksu/mdPickers/0.7.4/dist/mdPickers.min.css'>  -->

    {{#each cssFiles}}
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/select2/3.4.5/select2.css"> 
    <link rel="stylesheet" href="/{{this}}">{{/each}}
    <style>
        body {
            font-family: "Cormorant Garamond script=all rev=1";
            font-weight: 400;
            font-style: normal;
            font-size: 14px !important;
        }
        
        td,
        th {
            font-size: 14px !important;
        }
    </style>
</head>

<body class="ng-cloak page-container-bg-solid page-md login">
    <!--<header ng-include="'/modules/core/client/views/header.client.view.html'" class="navbar navbar-fixed-top navbar-inverse"></header>
  -->
    {{{block "content"}}}


    <noscript>
    <style>
      [ng\:cloak], [ng-cloak], [x-ng-cloak], .ng-cloak, .x-ng-cloak {
        display: block !important;
      }
    </style>
    <div class="alert alert-warning">
      <strong>This page requires JavaScript.</strong> Please enable it in your browser.
    </div>
  </noscript>

    <!--Embedding The User Object-->
    <script type="text/javascript">
        var user = {
            user
        };
        var env = "{{ env }}";
    </script>

    <!--Load The Socket.io File-->
    <script type="text/javascript" src="/socket.io/socket.io.js"></script>

    <!--Application JavaScript Files-->
    {{#each jsFiles}}
    <script type="text/javascript" src="/{{this}}"></script>{{/each}}
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.0/angular-sanitize.js"></script>
    <script src='/lib/angular-material.min.js'></script>
    <script src='https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.13.0/moment.min.js'></script>
    <script src='https://cdn.gitcdn.link/cdn/angular/bower-material/v1.1.1/angular-material.js'></script>
    <script src='https://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular-aria.min.js'></script>
    <script src='/lib/mdPickers.min.js'></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/angular-filter/0.4.7/angular-filter.js"></script>
    <script src='https://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular-messages.min.js'></script>
    <script src='https://cdnjs.cloudflare.com/ajax/libs/jspdf/1.3.2/jspdf.debug.js'></script>
    <!--owasp config sync-->
    <script type="text/javascript">
        var sharedConfig = {
            sharedConfig
        };
        owaspPasswordStrengthTest.config(sharedConfig.owasp);
    </script>
    {{#if livereload}}
    <!--Livereload script rendered -->
    <script type="text/javascript" src="{{host}}:35729/livereload.js"></script>
    {{/if}}
    <script>
        (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
        (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
        m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
        })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

        ga('create', 'UA-52770616-3', 'auto');
        ga('send', 'pageview');

    </script>
</body>

</html>