 
    <div class="user-login-5">
        <div class="row bs-reset">
            <div class="col-md-6 bs-reset">
                <div class="login-bg" style="background-image:url(lib/metronic/pages/img/login/bg1.jpg)">
                    <img class="login-logo" src="lib/metronic/pages/img/login/logo.png" /> </div>
            </div>
            <div class="col-md-6 login-container bs-reset">
                <div class="login-content">
                    <h1>TOUR TARIFF</h1>
                    <p> Lorem ipsum dolor sit amet, coectetuer adipiscing elit sed diam nonummy et nibh euismod aliquam erat volutpat. Lorem ipsum dolor sit amet, coectetuer adipiscing. </p>
                    <form ng-submit="login()" class="login-form">
                      <div class="alert alert-danger display-hide">
                          <button class="close" data-close="alert"></button>
                          <span>Enter any Code </span>
                      </div>
                        <div class="row">
                            <div class="col-xs-6">
                                <input class="form-control form-control-solid placeholder-no-fix form-group" ng-model="Code.txtCode" type="text" autocomplete="off" placeholder="Code" name="code" required/> </div>
                            
                        </div>
                        <div class="row">
                            <div class="col-sm-12 text-left">
                                <button class="btn green" style="width: 70px;height: 34px;padding: 10px;font-size: 11px;" type="submit">ENTER</button>
                            </div>
                        </div>
                    </form>
                    
                </div>
                <div class="login-footer">
                    <div class="row bs-reset">
                        <div class="col-xs-5 bs-reset">
                            <ul class="login-social">
                                <li>
                                    <a href="javascript:;">
                                        <i class="icon-social-facebook"></i>
                                    </a>
                                </li>
                                <li>
                                    <a href="javascript:;">
                                        <i class="icon-social-twitter"></i>
                                    </a>
                                </li>
                                <li>
                                    <a href="javascript:;">
                                        <i class="icon-social-dribbble"></i>
                                    </a>
                                </li>
                            </ul>
                        </div>
                        <div class="col-xs-7 bs-reset">
                            <div class="login-copyright text-right">
                                <p>Copyright &copy; by Destination Asia Vietnam.</p>
                                <p>Developed by CodeteamVN</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
