<style>
    .ellipsis {
        text-overflow: ellipsis!important;
        white-space: nowrap!important;
        overflow: hidden!important;
        display: inline-block;
    }
    
    table td {
        white-space: nowrap!important;
    }
    
    .form-body>div {
        margin-bottom: 3em!important;
    }
    
    .colortextMenu {
        color: #fff;
    }
    
    .activeSelect {
        background-color: #fff;
    }
    
    .activeSelect a {
        color: #000;
        font-weight: 600;
    }
    
    .dropbtn {
        background-color: #55616f;
        color: white;
        padding: 9px;
        font-size: 12px;
        border: none;
        cursor: pointer;
    }
    
    .dropdown {
        position: relative;
        display: inline-block;
    }
    
    .dropdown-content {
        z-index: 9999999;
        display: none;
        position: absolute;
        background-color: #f9f9f9;
        min-width: 160px;
        box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
        font-size: 12px;
    }
    
    .dropdown-content a {
        color: black;
        padding: 12px 16px;
        text-decoration: none;
        display: block;
    }
    
    .dropdown-content a:hover {
        background-color: #7d7a7a;
    }
    
    .dropdown:hover .dropdown-content {
        display: block;
    }
    
    .dropdown:hover .dropbtn {
        background-color: #3e8e41;
    }
    
    @media (min-width: 768px) {
        /*.clsShortText {
            max-width: 70px !important;
        }*/
        .clsNumber {
            width: 70px !important;
        }
        .clsControl {
            width: 80px !important;
            text-align: center;
        }
        .clsPrice {
            width: 120px !important;
        }
    }
    
    ul.tab {
        list-style-type: none;
        margin: 0;
        padding: 0;
        overflow: hidden;
        border: 1px solid #ccc;
        background-color: #f1f1f1;
    }
    /* Float the list items side by side */
    
    ul.tab li {
        float: left;
    }
    /* Style the links inside the list items */
    
    ul.tab li a {
        display: inline-block;
        color: black;
        text-align: center;
        padding: 14px 16px;
        text-decoration: none;
        transition: 0.3s;
        font-size: 17px;
    }
    /* Change background color of links on hover */
    
    ul.tab li a:hover {
        background-color: #ddd;
    }
    /* Create an active/current tablink class */
    
    ul.tab li a:focus,
    .clsDivExpand .active {
        background-color: #ccc;
    }
    /* Style the tab content */
    
    .tabcontent {
        display: none;
        padding: 6px 12px;
        border: 1px solid #ccc;
        border-top: none;
    }
    
    .clsTrExpand {
        background-color: #eff3f8!important;
    }
    
    .clsTrExpand:hover {
        background-color: #9dbee6!important;
    }
</style>


<div class="page-container">
    <div class="page-content-wrapper">
        <div class="page-content">
            <div class="container">
                <div class="row">
                    <div class="col-md-12">
                        <img src="/image/baner.png" style="height: 41px;">
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<login-signup></login-signup>
<div class="page-header-menu" style="display: block; background: #55616f!important;margin-top: -1px;">
    <div class="container">
        <div class="hor-menu ">
            <div class="dropdown">
                <a href="/tourview/servicegroup"><button class="dropbtn"> SERVICE </button></a>
            </div>
            <div ng-if="IsAdmin == true || IsEdit" class="dropdown">
                <a href=""><button class="dropbtn"> SETUP</button></a>
                <div class="dropdown-content">
                    <a href="/tourview/tariffperiod">TARIFF PERIOD</a>
                    <a href="/tourview/geotree">GEO TREE</a>
                    <a href="/tourview/servicetype">SERVICE TYPE</a>
                    <a href="/tourview/servicecategory">TOUR DURATION</a>
                    <a href="/tourview/exchangerate">EXCHANGE RATE</a>
                    <a href="/tourview/supplier">SUPPLIER</a>
                    <a href="/tourview/priority">TOUR CATEGORY</a>
                    <a ng-if="IsAdmin==true" href="/tourview/notify">NOTIFY</a>
                </div>
            </div>
            <div class="dropdown" ng-if="IsAdmin==true">
                <a href="/tourview/users"><button class="dropbtn"> USERS</button></a>
            </div>
            <div class="dropdown" ng-if="IsAdmin==true">
                <a href="/tourview/webinfo"><button class="dropbtn"> MANAGER INFO WEBSITE</button></a>
            </div>
        </div>
    </div>
</div>
<div class="page-container" ng-init="InitGeoTree()">
    <!-- BEGIN CONTENT -->
    <div class="page-content-wrapper">
        <!-- BEGIN CONTENT BODY -->
        <!-- BEGIN PAGE CONTENT BODY -->
        <div class="page-content">
            <div class="container">
                <div class="page-content-inner row">
                    <!-- BEGIN INPUT-->
                    <div class="col-md-12">
                        <!-- BEGIN VALIDATION STATES-->
                        <div class="portlet light portlet-fit portlet-form ">
                            <div class="portlet-body">
                                <!-- BEGIN FORM-->
                                <form action="#" autocomplete="on">
                                    <div class="form-body">
                                        <div class="col-md-10 form-group form-md-line-input has-error">
                                            <input ng-model="GeoTree.name" type="text" class="form-control" id="form_control_1" placeholder="Enter name">
                                            <label for="form_control_1">Name</label>
                                        </div>
                                        <div class="form-group form-md-line-input has-error col-md-2">
                                            <select ng-model="GeoTree.zone" class="form-control edited">
                                                <option>North</option>
                                                <option>Middle</option>
                                                <option>South</option>
                                            </select>
                                            <label for="form_control_1">Zone</label>
                                        </div>
                                    </div>
                                    <div class="form-actions">
                                        <div class="row">
                                            <div class="col-md-12">
                                                <a ng-show="!cSave" href="javascript:;" ng-click="GeoTreeValue('add',GeoTree,null)" class="btn green">Add</a>
                                                <a ng-show="cSave" href="javascript:;" ng-click="GeoTreeValue('update',GeoTree,null)" class="btn green">Update</a>
                                                <a href="javascript:;" ng-click="CancelGeoTree()" class="btn default">Cancel</a>
                                            </div>
                                        </div>
                                    </div>
                                </form>
                                <!-- END FORM-->
                            </div>
                        </div>
                        <!-- END VALIDATION STATES-->
                    </div>
                    <!-- END INPUT-->

                    <!-- BEGIN SAMPLE TABLE PORTLET-->
                    <div class="col-md-12 col-sm-12 col-xs-12 col-lg-12">
                        <div class="portlet box green">
                            <div class="portlet-title">
                                <div class="caption">
                                    <i class="fa fa-cogs"></i>Geo Tree</div>
                                <div class="tools">
                                    <a href="javascript:;" class="collapse"> </a>
                                </div>

                            </div>
                            <div class="portlet-body flip-scroll" style="overflow-x: auto;">
                                <table class="table-bordered table-striped table-condensed flip-content" style="margin: 5px 0;margin-bottom:0;min-width:1000px;">
                                    <thead class="flip-content">
                                        <tr>
                                            <th class="clsControl">No.</th>
                                            <th>Name</th>
                                            <th>Zone</th>
                                            <th></th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr ng-repeat="x in lsGeoTree">
                                            <td class="clsControl">{{$index + 1}}</td>
                                            <td>{{x.name}}</td>
                                            <td>{{x.zone}}</td>
                                            <td class="clsControl">
                                                <a href="javascript:;" class="btn btn-icon-only red" ng-click="GeoTreeValue('edit',x,$index)">
                                                    <i class="fa fa-edit"></i>
                                                </a>
                                                <a href="javascript:;" class="btn btn-icon-only purple" ng-click="GeoTreeValue('delete',x,$index)">
                                                    <i class="fa fa-times"></i>
                                                </a>
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                    <!-- END SAMPLE TABLE PORTLET-->
                </div>
            </div>
        </div>
    </div>
</div>


<!-- BEGIN INNER <F></F>OOTER -->
<div class="page-footer">
    <div class="container"> 2016 &copy; Codeteamvn.
    </div>
</div>
<div class="scroll-to-top">
    <i class="icon-arrow-up"></i>
</div>
<!-- END INNER FOOTER -->