<style>
    .ellipsis {
        text-overflow: ellipsis!important;
        white-space: nowrap!important;
        overflow: hidden!important;
        display: inline-block;
    }
    
    table td {
        white-space: nowrap!important;
    }
    
    .form-body>div {
        margin-bottom: 3em!important;
    }
    
    .colortextMenu {
        color: #fff;
    }
    
    .activeSelect {
        background-color: #fff;
    }
    
    .activeSelect a {
        color: #000;
        font-weight: 600;
    }
    
    .dropbtn {
        background-color: #55616f;
        color: white;
        padding: 9px;
        font-size: 12px;
        border: none;
        cursor: pointer;
    }
    
    .dropdown {
        position: relative;
        display: inline-block;
    }
    
    .dropdown-content {
        z-index: 9999999;
        display: none;
        position: absolute;
        background-color: #f9f9f9;
        min-width: 160px;
        box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
        font-size: 12px;
    }
    
    .dropdown-content a {
        color: black;
        padding: 12px 16px;
        text-decoration: none;
        display: block;
    }
    
    .dropdown-content a:hover {
        background-color: #7d7a7a;
    }
    
    .dropdown:hover .dropdown-content {
        display: block;
    }
    
    .dropdown:hover .dropbtn {
        background-color: #3e8e41;
    }
    
    @media (min-width: 768px) {
        /*.clsShortText {
            max-width: 70px !important;
        }*/
        .clsNumber {
            width: 70px !important;
        }
        .clsControl {
            width: 80px !important;
            text-align: center;
        }
        .clsPrice {
            width: 120px !important;
        }
    }
    
    ul.tab {
        list-style-type: none;
        margin: 0;
        padding: 0;
        overflow: hidden;
        border: 1px solid #ccc;
        background-color: #f1f1f1;
    }
    /* Float the list items side by side */
    
    ul.tab li {
        float: left;
    }
    /* Style the links inside the list items */
    
    ul.tab li a {
        display: inline-block;
        color: black;
        text-align: center;
        padding: 14px 16px;
        text-decoration: none;
        transition: 0.3s;
        font-size: 17px;
    }
    /* Change background color of links on hover */
    
    ul.tab li a:hover {
        background-color: #ddd;
    }
    /* Create an active/current tablink class */
    
    ul.tab li a:focus,
    .clsDivExpand .active {
        background-color: #ccc;
    }
    /* Style the tab content */
    
    .tabcontent {
        display: none;
        padding: 6px 12px;
        border: 1px solid #ccc;
        border-top: none;
    }
    
    .clsTrExpand {
        background-color: #eff3f8!important;
    }
    
    .clsTrExpand:hover {
        background-color: #9dbee6!important;
    }
    
    .spanRole {
        margin: 0 3px;
        border: 1px solid #4693e6;
        padding: 2px;
        border-radius: 3px
    }
    /*dropCheck*/
    
    .dropCheck {
        position: absolute;
        top: 0;
        transform: translateY(-50%);
        z-index: 1;
        width: 100%;
        min-width: 200px;
    }
    
    .dropCheck dd,
    .dropCheck dt {
        margin: 0px;
        padding: 0px;
    }
    
    .dropCheck ul {
        margin: -1px 0 0 0;
    }
    
    .dropCheck dd {
        position: relative;
    }
    
    .dropCheck a,
    .dropCheck a:visited {
        text-decoration: none;
        outline: none;
        font-size: 12px;
    }
    
    .dropCheck dt a {
        display: block;
        padding: 0;
        min-height: 25px;
        line-height: 24px;
        overflow: hidden;
        border-bottom: 1px solid #e73d4a;
        margin-top: 17px;
    }
    
    .dropCheck dt a span,
    .multiSel span {
        cursor: pointer;
        display: inline-block;
        padding: 0 3px 2px 0;
    }
    
    .dropCheck dd ul {
        background-color: #4F6877;
        border: 0;
        color: #fff;
        display: none;
        left: 0px;
        padding: 2px 15px 2px 5px;
        position: absolute;
        top: 2px;
        width: 100%;
        list-style: none;
        max-width: 300px;
        overflow: auto;
    }
    
    .dropCheck span.value {
        display: none;
    }
    
    .dropCheck dd ul li input {
        height: 20px;
        margin: 0px 5px;
        vertical-align: middle;
    }
    
    .dropCheck dd ul li {
        margin: 3px 0;
    }
</style>


<div class="page-header">
    <!-- BEGIN HEADER TOP -->

    <!-- END HEADER TOP -->
</div>
<login-signup></login-signup>
<div class="page-header-menu" style="display: block; background: #55616f!important;margin-top: -1px;">
    <div class="container">
        <div class="hor-menu ">
            <div class="dropdown">
                <a href="/tourview-tl/servicegroup"><button class="dropbtn"> SERVICE </button></a>
            </div>
            <div class="dropdown">
                <a href=""><button class="dropbtn"> SETUP</button></a>
                <div class="dropdown-content">
                    <a href="/tourview/tariffperiod">TARIFF PERIOD</a>
                    <a href="/tourview-tl/geotree">GEO TREE</a>
                    <a href="/tourview-tl/servicetype">SERVICE TYPE</a>
                    <a href="/tourview-tl/servicecategory">TOUR DURATION</a>
                    <a href="/tourview-tl/exchangerate">EXCHANGE RATE</a>
                    <a href="/tourview-tl/supplier">SUPPLIER</a>
                    <a href="/tourview-tl/priority">TOUR CATEGORY</a>
                    <a ng-if="IsAdmin==true" href="/tourview-tl/notify">NOTIFY</a>
                </div>
            </div>
            <div class="dropdown" ng-if="IsAdmin==true">
                <a href="/tourview-tl/users"><button class="dropbtn"> USERS</button></a>
            </div>
            <div class="dropdown" ng-if="IsAdmin==true">
                <a href="/tourview-tl/webinfo"><button class="dropbtn"> MANAGER INFO WEBSITE</button></a>
            </div>
        </div>
    </div>
</div>
<div class="page-container" ng-init="InitUsers()">
    <!-- BEGIN CONTENT -->
    <div class="page-content-wrapper">
        <!-- BEGIN CONTENT BODY -->
        <!-- BEGIN PAGE CONTENT BODY -->
        <div class="page-content">
            <div class="container">
                <div class="page-content-inner row">
                    <!-- BEGIN INPUT-->
                    <div class="col-md-12">
                        <!-- BEGIN VALIDATION STATES-->
                        <div class="portlet light portlet-fit portlet-form ">
                            <div class="portlet-body">
                                <!-- BEGIN FORM-->
                                <form action="#">
                                    <div class="form-body">
                                        <div class="col-md-4 form-group form-md-line-input has-error">
                                            <input ng-model="Users.fullname" type="text" class="form-control" id="form_control_1" placeholder="Enter full name">
                                            <label for="form_control_1">Full name</label>
                                        </div>
                                        <div class="col-md-4 form-group form-md-line-input has-error">
                                            <input ng-model="Users.pass" type="password" class="form-control" id="form_control_2" placeholder="Enter company name">
                                            <label for="form_control_2">Password</label>
                                        </div>
                                        <div class="col-md-4 form-group form-md-line-input has-error">
                                            <input ng-model="Users.company" type="text" class="form-control" id="form_control_2" placeholder="Enter company name">
                                            <label for="form_control_2">Company name</label>
                                        </div>
                                        <div class="col-md-4 form-group form-md-line-input has-error">
                                            <input ng-model="Users.username" type="text" class="form-control" id="form_control_3" placeholder="Enter login name">
                                            <label for="form_control_3">Username</label>
                                        </div>
                                        <div class="col-md-4 form-group form-md-line-input has-error">
                                            <div class="input-group">
                                                <span class="input-group-addon" style="padding-bottom:3px;">
                                                    <i class="fa fa-envelope"></i>
                                                </span>
                                                <input ng-model="Users.email" type="text" class="form-control" placeholder="Email Address">
                                                <label for="form_control_4">Email</label>
                                            </div>
                                        </div>
                                        <div class="col-md-4 form-group form-md-line-input has-error" style="padding-top:0">
                                            <label>Role</label>
                                            <div style="position:relative">
                                                <dl class="dropCheck">
                                                    <dt>
                                                        <a href="#">
                                                            <div class="multiSel">
                                                                <span ng-repeat="x in Users.role" title="{{x.name}}"> {{x.name + ($index == Users.role.length-1? '':',')}}</span>
                                                            </div>  
                                                            <span style="color:#999999" ng-show="Users.role.length == 0">Select</span>
                                                        </a>
                                                    </dt>
                                                    <dd>
                                                        <div class="mutliSelect">
                                                            <ul>
                                                                <li ng-repeat="x in lsRole">
                                                                    <input ng-click="SetRole(x)" type="checkbox" value="{{x}}" ng-checked="CheckRole(x)" />{{x}}
                                                                </li>
                                                            </ul>
                                                        </div>
                                                    </dd>
                                                </dl>
                                            </div>
                                        </div>
                                        <div class="col-md-12">
                                            <label class="mt-checkbox" style="vertical-align:sub">
                                                <input type="checkbox" value="1" name="service" ng-model="Users.active" ng-value="false" /> Active
                                                <span></span>
                                            </label>
                                        </div>
                                    </div>
                                    <div class="form-actions">
                                        <div class="row">
                                            <div class="col-md-12">
                                                <a ng-show="!cSave" href="javascript:;" ng-click="UsersValue('add',Users,null)" class="btn green">Add</a>
                                                <a ng-show="cSave" href="javascript:;" ng-click="UsersValue('update',Users,null)" class="btn green">Update</a>
                                                <a href="javascript:;" ng-click="CancelUsers()" class="btn default">Cancel</a>
                                            </div>
                                        </div>
                                    </div>
                                </form>
                                <!-- END FORM-->
                            </div>
                        </div>
                        <!-- END VALIDATION STATES-->
                    </div>
                    <!-- END INPUT-->

                    <!-- BEGIN SAMPLE TABLE PORTLET-->
                    <div class="col-md-12 col-sm-12 col-xs-12 col-lg-12">
                        <div class="portlet box green">
                            <div class="portlet-title">
                                <div class="caption">
                                    <i class="fa fa-cogs"></i>Geo Tree</div>
                                <div class="tools">
                                    <a href="javascript:;" class="collapse"> </a>
                                </div>

                            </div>
                            <div class="portlet-body flip-scroll" style="overflow-x: auto;">
                                <table class="table-bordered table-striped table-condensed flip-content" style="margin: 5px 0;margin-bottom:0;min-width:1000px;">
                                    <thead class="flip-content">
                                        <tr>
                                            <th class="clsControl">No.</th>
                                            <th>Full name</th>
                                            <th>Company</th>
                                            <th>Uername</th>
                                            <th>Email</th>
                                            <th>Role</th>
                                            <th>Active</th>
                                            <th></th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr ng-repeat="x in lsUsers">
                                            <td class="clsControl">{{$index + 1}}</td>
                                            <td>{{x.fullname}}</td>
                                            <td>{{x.company}}</td>
                                            <td>{{x.username}}</td>
                                            <td>{{x.email}}</td>
                                            <td><span class="spanRole" ng-repeat="r in x.role"> {{r.name}}</span></td>
                                            <td>{{x.active}}</td>
                                            <td class="clsControl">
                                                <a href="javascript:;" class="btn btn-icon-only red" ng-click="UsersValue('edit',x,$index)">
                                                    <i class="fa fa-edit"></i>
                                                </a>
                                                <a href="javascript:;" class="btn btn-icon-only purple" ng-click="UsersValue('delete',x,$index)">
                                                    <i class="fa fa-times"></i>
                                                </a>
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                    <!-- END SAMPLE TABLE PORTLET-->
                </div>
            </div>
        </div>
    </div>
</div>


<!-- BEGIN INNER <F></F>OOTER -->
<div class="page-footer">
    <div class="container"> 2016 &copy; Codeteamvn.
    </div>
</div>
<div class="scroll-to-top">
    <i class="icon-arrow-up"></i>
</div>
<!-- END INNER FOOTER -->