<script src="https://cdnjs.cloudflare.com/ajax/libs/prefixfree/1.0.7/prefixfree.min.js"></script>
<style>
    .table-condensed>tbody>tr>td, .table-condensed>tbody>tr>th, .table-condensed>tfoot>tr>td, .table-condensed>tfoot>tr>th, .table-condensed>thead>tr>td, .table-condensed>thead>tr>th {
    padding: 0px 8px;
}
.tbpriceService .table-striped>tbody>tr:nth-of-type(odd) {
    background-color: none;
}
.tbpriceService .col-md-12 {
        margin-top: 8px;
}
.tbpriceService .col-md-12:hover {
        background-color: gray;
        font-weight: bold;
        color: #f4f4f4;
}
.cls-Infomation{
        margin: 22px 0 27px 0 !important;
}
</style>
<div class="page-container" ng-init="DetailGet()">
    <!-- BEGIN CONTENT -->
    <div class="page-content-wrapper">
        <!-- BEGIN CONTENT BODY -->
        <!-- BEGIN PAGE CONTENT BODY -->
        <div class="page-content">
            <div class="container">
                <!-- BEGIN PAGE CONTENT INNER -->
                <!-- END PAGE CONTENT INNER -->
                <div class="row">
                    <div class="col-md-12 cls-Infomation">
                        <div class="col-md-3">
                            <div class="containerSilder">
                                <div ng-if="items.slideImages.length ==0">
                                    <img src="/image/icon/defaulImage.jpg" width="300px" style="margin-top: 11px;border-radius: 6px;">
                                </div>
                                <div ng-if="items.slideImages.length >0" class="slider">
                                    <img ng-repeat="x in items.slideImages" src="{{x.image}}" width="300px" alt="">
                                </div>
                            </div>
                        </div>
                        <div class="col-md-9" style="padding: 3px 0 0 1.7em;">
                            <img src="/image/icon/DALogo.png" style="width: 219px; position: absolute; right: 0; z-index: 99;">
                            <h4 style="text-transform: uppercase; font-weight: bold; max-width: 650px;">{{items.code}} | {{items.excursionName}}</h4>
                            Valid from {{ChangeTime(items.beginDate)}} to {{ChangeTime(items.endDate)}}
                            <div ng-if="item.ValueEditModel !== 'proposal'">
                                Availability :
                                <span>Sun</span><input style="width:25px;" disabled ng-model="items.availab.sun" type="checkbox">
                                <span>Mon</span><input style="width:25px;" disabled ng-model="items.availab.mon" type="checkbox">
                                <span>Tue</span><input style="width:25px;" disabled ng-model="items.availab.tue" type="checkbox">
                                <span>Wed</span><input style="width:25px;" disabled ng-model="items.availab.wed" type="checkbox">
                                <span>Thu</span><input style="width:25px;" disabled ng-model="items.availab.thu" type="checkbox">
                                <span>Fri</span><input style="width:25px;" disabled ng-model="items.availab.fri" type="checkbox">
                                <span>Sat</span><input style="width:25px;" disabled ng-model="items.availab.sat" type="checkbox">
                                <br> Category: <span style="font-weight: 700">{{items.category}} </span>
                            </div>
                               <br ng-if="item.ValueEditModel === 'proposal'"> Location : <span style="font-weight: 700">{{items.location}}</span>
                            <br> Curency: <span style="font-weight: 700">{{items.currency}}</span>  
                            <div ng-if="item.ValueEditModel !== 'proposal'">
                                <br <br ng-if="item.ValueEditModel === 'proposal'"> {{ item.maxTiming > 0 ? 'Total Duration' : ''}} <span  ng-if="item.maxTiming > 0" style="color:#0a40e0;font-weight: 700">{{timeView}}</span>
                            </div>
                            <div ng-if="item.ValueEditModel === 'proposal'">
                                Travel Agent : <span style="font-weight: 700">{{items.ObjectAgent.agname}}</span>
                                <br> Tour Consultant: <span style="font-weight: 700">{{items.ObjectAgent.cname}}</span>
                                <br> Email: <span style="font-weight: 700">{{items.ObjectAgent.cemail}}</span>
                                <br> Proposal status : <span style="font-weight: 700">{{items.Proposalstatus}}</span>
                            </div>
                            <div class="OptionMenu">
                                <a href="javascript:void(0)" data-toggle="tooltip" data-placement="top" title="Export In Word" ng-click="Exportdata(items.excursionName)"><img width="40px" src="/image/icon/doc.png"></a>
                                <!--  <a href="javascript:void(0)" data-toggle="tooltip" data-placement="top" title="Export in pdf" ng-click="ExportPDF(items.excursionName)"><img  width="40px" src="/image/icon/pdf.png"></a> -->
                                <a href="javascript:void(0)" data-toggle="tooltip" data-placement="top" title="Print And Pdf" ng-click="PrinterCheck()"><img width="40px" src="/image/icon/Print.png"></a>
                            </div>
                        </div>
                    </div>
                    <!-- <div class="col-md-12" style="margin: 0em 0 1em 0;" ng-if="items.tiers[0].pax !== null"> -->
                    <div class="col-md-12" style="margin: 0em 0 1em 0;">
                        <h5 style="border-bottom: 2px dashed #aba5a5;color: #bd1218;text-transform: uppercase;font-weight: bold;">Price on Tiers <span style="text-transform: initial;font-style: italic;">{{ "("+item.noteTiers+")" }}</span> </h5>
                        <table border=1 style="margin-bottom: 0; width: 100%;">
                            <tbody ng-if="items.lsDirectModel.length == 0 || item.ValueEditModel === 'proposal'">
                                <tr  ng-if="item.ListGroupcode">
                                    <td colspan="3">  <span style="font-weight: bold; margin-left: 5px;"> {{item.beginDate | date : 'dd-MMM-yyyy' }} - {{subtractDay(items.ListGroupcode[1].beginDate) | date : 'dd-MMM-yyyy'}} </span>
                                    <span style="border-bottom: 2px dashed #aba5a5;color: #bd1218;text-transform: uppercase;font-weight: normal;"><span style="text-transform: initial;font-style: italic;">{{ "("+item.noteTiers+")" }}</span> </span>
                                    </td>
                                </tr>
                                <tr style="height: 55px;">
                                    <td ng-repeat="x in items.tiers" ng-if="x.pax>0">
                                        <div class="divResultHead" >
                                            <div style="background: yellowgreen;height: 34px;line-height: 29px;" class="divThResult">{{ ($index < items.tiers.length -1 && items.tiers[$index + 1].pax> 0) ? '(' + items.tiers[$index].pax + ' - ' + (items.tiers[$index + 1].pax - 1) + ') Pax' : '(' + items.tiers[$index].pax + ') Pax +'}}</div>
                                            <div class="divTrResult"><span ng-bind-html="items.tiers[$index].price  |currencyFormat:items.currency"></span></div>

                                        </div>
                                    </td>
                                </tr>
                                <tr ng-if="item.ValueEditModel === 'proposal'">
                                    <td colspan="3"> <span style="font-weight: bold"> TOTAL SGL SUPPLEMENT:</span> <span ng-bind-html="totalSGlSUPPL |currencyFormat:items.currency"></span> </td>
                                </tr>
                            </tbody>
                            <tbody ng-if="items.lsDirectModel.length > 0 && item.ValueEditModel !== 'proposal'" >
                                <tr style="height: 55px;background: yellowgreen;">
                                    <td style="text-align:center;font-weight:bold; color:black">Tiers</td>
                                    <td ng-repeat="x in items.lsDirectModel[0].tiers"  ng-if="x.pax > 0">
                                        <div class="divResultHead" ng-if="x.pax>0">
                                            <div class="divThResult">{{ ($index < items.lsDirectModel[0].tiers.length -1 && items.lsDirectModel[0].tiers[$index + 1].pax> 0) ? '(' + items.lsDirectModel[0].tiers[$index].pax + ' - ' + (items.lsDirectModel[0].tiers[$index + 1].pax - 1) + ') Pax' : '(' + items.lsDirectModel[0].tiers[$index].pax + ') Pax +'}}</div>
                                        </div>
                                    </td>
                                </tr>
                            </tbody>
                           <tbody ng-if="items.lsDirectModel.length == 0 || item.ValueEditModel === 'proposal &&  item.ListGroupcode'" ng-repeat="item in item.ListGroupcode" >
                                <tr  ng-if="$index>0">
                                    <td colspan="3"> <span style="font-weight: bold; margin-left: 5px;"> {{item.beginDate | date : 'dd-MMM-yyyy'}} - {{item.endDate | date : 'dd-MMM-yyyy'}}  </span> 
                                    <span style="border-bottom: 2px dashed #aba5a5;color: #bd1218;text-transform: uppercase;font-weight: normal;"> <span style="text-transform: initial;font-style: italic;">{{ "("+item.noteTiers+")" }}</span> </span> </td>
                                </tr>
                                <tr style="height: 55px;"   ng-if="$index>0">
                                    <td ng-repeat="x in item.tiers" ng-if="x.pax>0">
                                        <div class="divResultHead" >
                                            <div style="background: yellowgreen;height: 34px;line-height: 29px;" class="divThResult">{{ ($index < item.tiers.length -1 && item.tiers[$index + 1].pax> 0) ? '(' + item.tiers[$index].pax + ' - ' + (item.tiers[$index + 1].pax - 1) + ') Pax' : '(' + item.tiers[$index].pax + ') Pax +'}}</div>
                                            <div class="divTrResult"><span ng-bind-html="item.tiers[$index].price  |currencyFormat:items.currency"></span></div>
                                        </div>
                                    </td>
                                </tr>                                
                            </tbody>

                            <tbody  ng-if="items.lsDirectModel.length > 0 && item.ValueEditModel !== 'proposal'" ng-repeat="(DateGroup, vls) in items.lsDirectModel  |orderBy : 'beginDate' | groupBy: 'DateGroup'">
                                <tr ng-if="vls[0].priceShareRoom !== 0 && vls[0].priceSGLRoom !==0">
                                    <td colspan="{{lengthTiers}}"><div style="text-align:center;font-size:14px; font-weight:bold">{{DateGroup}}</div></td>
                                </tr>
                                <tr ng-repeat-start="x in vls">
                                    <td colspan="{{lengthTiers}}"><div  style="font-size:13px; font-weight:bold">{{x.name}}</div></td>
                                </tr>
                                <tr ng-repeat-end="x in vls">
                                    <td>
                                        <div  style="font-weight:bold">{{x.day > 0 ? ('Day ' + x.day + ' | ') : '' }}{{x.roomcategory + ' | ' + x.charge}}</div>
                                    </td>
                                    <td ng-repeat="y in x.tiers" ng-if="y.pax > 0">
                                        <div style="text-align:center;" ng-bind-html="y.price  |currencyFormat:items.currency"></div>
                                    </td>
                                </tr>
                                <tr ng-repeat="x in vls">
                                    <td colspan="3">  <span style="font-weight: bold">SGL SUPPLEMENT: </span> <span ng-bind-html="x.SGLSuppl |currencyFormat:items.currency"></span> </td>
                                </tr>
                            </tbody>
                        </table>
                       <span ng-if="item.ValueEditModel === 'proposal'" style="font-weight: bold"> ACCOMMODATION:</span>  <span ng-if="item.ValueEditModel === 'proposal'"  ng-bind-html="allHotel"></span>
                    </div>
                    <div class="col-md-12" ng-if="items.lsChildPolicy.length > 0 && !item.ListGroupcode">
                        <h5 style="border-bottom: 2px dashed #aba5a5;color: #bd1218;text-transform: uppercase;font-weight: bold;">
                            CHILD POLICY 
                        </h5>
                        <table class="table-bordered table-striped table-condensed flip-content" style="margin-bottom:0;width:100%;">
                            <tbody>
                                <tr>
                                    <td style="width:80px">Age</td>
                                    <td ng-repeat="x in items.tiers"  ng-if="x.pax>0 ? true :false">
                                        <div class="form-group form-md-line-input form-md-floating-label has-error">          
                                            
                                            <label for="form_control_mk_{{x}}" style="top:0 !important">{{ ($index
                                            < items.tiers.length -1 && items.tiers[$index + 1].pax> 0) ? '(' + items.tiers[$index].pax + ' - ' + (items.tiers[$index + 1].pax - 1) + ') Pax' : '(' + items.tiers[$index].pax + ') Pax +'}}</label>
                                        </div>
                                    </td>
                                </tr>
                                <tr>
                                    <td> 
                                        <div ng-repeat="y in items.lsChildPolicy track by $index" class="form-group form-md-line-input form-md-floating-label has-error" style="font-weight: bold;">  
                                            {{y.ageFrom}} - {{y.ageTo}}                                                                
                                        </div>
                                    </td>
                                    <td ng-repeat="m in items.tiers" ng-if="m.pax>0 ? true :false">
                                        <div ng-repeat="y in m.priceChild track by $index" class="form-group form-md-line-input form-md-floating-label has-error">           
                                            <span ng-bind-html="y.vl |currencyFormat:items.currency"></span>
                                        </div>
                                    </td>
                                </tr>

                            </tbody>
                        </table>   
                    </div>
                    <div ng-show="item.ListGroupcode">
                        <div class="col-md-12" ng-repeat="item in item.ListGroupcode" ng-if="item.lsChildPolicy.length >0">
                        <h5 style="border-bottom: 2px dashed #aba5a5;color: #bd1218;text-transform: uppercase;font-weight: bold;">
                            CHILD POLICY  <span style="font-weight: bold; margin-left: 5px;"> {{item.beginDate | date : 'dd-MMM-yyyy'}} - {{item.endDate | date : 'dd-MMM-yyyy'}}  </span>

                        </h5>
                        <table class="table-bordered table-striped table-condensed flip-content" style="margin-bottom:0;width:100%;" >
                            <tbody>
                                <tr>
                                    <td style="width:80px">Age</td>
                                    <td ng-repeat="x in item.tiers"  ng-if="x.pax>0 ? true :false">
                                        <div class="form-group form-md-line-input form-md-floating-label has-error">          
                                            
                                            <label for="form_control_mk_{{x}}" style="top:0 !important">{{ ($index
                                            < item.tiers.length -1 && item.tiers[$index + 1].pax> 0) ? '(' + item.tiers[$index].pax + ' - ' + (item.tiers[$index + 1].pax - 1) + ') Pax' : '(' + item.tiers[$index].pax + ') Pax +'}}</label>
                                        </div>
                                    </td>
                                </tr>
                                <tr>
                                    <td> 
                                        <div ng-repeat="y in item.lsChildPolicy track by $index" class="form-group form-md-line-input form-md-floating-label has-error" style="font-weight: bold;">  
                                            {{y.ageFrom}} - {{y.ageTo}}                                                                
                                        </div>
                                    </td>
                                    <td ng-repeat="m in item.tiers" ng-if="m.pax>0 ? true :false">
                                        <div ng-repeat="y in m.priceChild track by $index" class="form-group form-md-line-input form-md-floating-label has-error">           
                                            <span ng-bind-html="y.vl |currencyFormat:items.currency"></span>
                                        </div>
                                    </td>
                                </tr>

                            </tbody>
                        </table>   
                    </div>
                    </div>
                    <div class="col-md-12" ng-if="items.lsExtra.length >0">
                    <h5 style="border-bottom: 2px dashed #aba5a5;color: #bd1218;text-transform: uppercase;font-weight: bold;">SURCHARGE/EXTRA</h5>
                        <table class="table table-bordered table-striped table-condensed flip-content">
                            <thead class="flip-content">

                                <tr>
                                    <th>SURCHARGE/EXTRA</th>
                                    <th>CHARGE POLICY</th>
                                    <th>PRICE</th>
                                    <th>NOTE</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr ng-repeat="v in items.lsExtra">
                                    <td>{{v.extra}}</td>
                                    <td>{{v.charge}}</td>
                                    <td><span ng-bind-html="v.price |currencyFormat:items.currency"></span></td>
                                    <td>{{v.note}}</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                    <div class="col-md-12" ng-if="items.DirectMarkup.length >0" >
                        <h5 style="border-bottom: 2px dashed #aba5a5;color: #bd1218;text-transform: uppercase;font-weight: bold;">PRICE ON SERVICE</h5>
                        <table class="tbpriceService table table-bordered table-striped table-condensed flip-content">
                            <thead class="flip-content">
                                <tr>
                                    <th class="col-md-4">SERVICE NAME</th>
                                    <th class="col-md-2">CHARGE POLICY</th>
                                    <th class="col-md-1">PRICE</th>
                                    <th class="col-md-5" style="padding-left: 13px;">NOTE</th>                                   
                                </tr>
                            </thead>
                            <tbody>
                                 <tr ng-repeat="(DateGroup, vls) in  items.DirectMarkup | groupBy: 'DateGroup'">
                                    <td colspan="5">
                                        <div class="col-md-12 cls_boderDirectMarkUp" style="margin-top: 12px;font-size: 16px;color: #060606;font-weight: bold;">From: {{DateGroup}}</div>
                                        <div class="col-md-12 mg_top" ng-repeat="x in vls | orderBy:'time' ">
                                            <div class="col-md-4 mg_top">{{x.name}}</div>
                                            <div class="col-md-2 mg_top">{{x.charge}}</div>
                                            <div class="col-md-1 mg_top" style="text-align: right;"><span ng-bind-html="x.price |currencyFormat:items.currency"></span></div>
                                            <div class="col-md-5 mg_top" style="padding-left: 13px;">{{x.note}}</div>
                                        </div>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                    <div class="col-md-12">
                        <span ng-bind-html="content"></span>
                    </div>
                    <div ng-if="ShownoteContent">
                        <h5 style="border-bottom: 2px dashed #aba5a5;color: #bd1218;text-transform: uppercase;font-weight: bold;">General Note</h5>
                        <span ng-bind-html="noteContent"></span>
                    </div>
                    <div class="col-md-12"  ng-if="item.maxTiming > 0">
                        <div class="col-md-12">
                        <h5 style="border-bottom: 2px dashed #aba5a5;color: #bd1218;text-transform: uppercase;font-weight: bold;">Suggested Departure</h5>
                        </div>
                        <div class="col-md-4">
                            <div  class="input-group clockpicker" style=" width: 43%;float: left; display: none; ">
                                <input type="text" class="form-control" id="timevalue" value="08:00" style="height: 3em;padding-left: 3em;">
                                <span class="input-group-addon">
                                            <span class="glyphicon glyphicon-time"></span>
                                </span>
                            </div>
                            <!-- <button type="button" ng-click="SubmitTime()" style="float: left;height: 41px;margin-left: 7px;">Update Time</button> -->
                        </div>

                        <table class="table table-bordered table-striped table-condensed flip-content" ng-if="timeVal.length >0" >
                            <thead class="flip-content">
                                <tr>
                                    <td colspan="3">Total Duration <span style="font-weight: 700">{{timeView}}</span></td>
                                </tr>
                                <tr>
                                    <th>Time</th>
                                    <th>Description</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr ng-repeat="v in timeVal">
                                    <td>{{v.TimeVl}}</td>
                                    <td>{{v.description}}</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>

            </div>
        </div>
    </div>
</div>

<!-- BEGIN INNER <F></F>OOTER -->
<div class="page-footer">
    <div class="container"> 2016 &copy; Codeteamvn.
    </div>
</div>
<div class="scroll-to-top">
    <i class="icon-arrow-up"></i>
</div>
<div id="dialog-pdf" title="pdf" style="display:none">
    <div type="application/pdf" data="example.pdf" id="content" class="panel panel-default" style="width:100%;">
        <div class="panel-body">
            <div class="col-md-12" style="padding: 0">
                <span ng-bind-html="WebInfo.coverpage"></span>
            </div>
            <!--<div class="col-md-12" style="padding: 0">
                <img ng-src="{{('/image/' + WebInfo.webBanner)}}" style="width: 100%;padding: 0; margin: 0;">
            </div>-->
            <h2>{{items.code}} | {{items.excursionName}}</h2>
            Valid from {{ChangeTime(items.beginDate)}} to {{ChangeTime(items.endDate)}}
                          
            <div ng-if="item.ValueEditModel !== 'proposal'">
                Availability :
                <span>Sun</span><input style="width:25px;" disabled ng-model="items.availab.sun" type="checkbox">
                <span>Mon</span><input style="width:25px;" disabled ng-model="items.availab.mon" type="checkbox">
                <span>Tue</span><input style="width:25px;" disabled ng-model="items.availab.tue" type="checkbox">
                <span>Wed</span><input style="width:25px;" disabled ng-model="items.availab.wed" type="checkbox">
                <span>Thu</span><input style="width:25px;" disabled ng-model="items.availab.thu" type="checkbox">
                <span>Fri</span><input style="width:25px;" disabled ng-model="items.availab.fri" type="checkbox">
                <span>Sat</span><input style="width:25px;" disabled ng-model="items.availab.sat" type="checkbox">
                <br> Category: <span style="font-weight: 700">{{items.category}} </span>
            </div>
                Location : <span style="font-weight: 700">{{items.location}}</span>
            <br> Curency: <span style="font-weight: 700">{{items.currency}}</span>  
            <div ng-if="item.ValueEditModel !== 'proposal' && timeVal.length >0">
                <br> Total Duration: <span  ng-if="item.maxTiming > 0" style="color:#0a40e0;font-weight: 700">{{timeView}}</span>
            </div>
            <div ng-if="item.ValueEditModel === 'proposal'">
                Travel Agent : <span style="font-weight: 700">{{items.ObjectAgent.agname}}</span>
                <br> Tour Consultant: <span style="font-weight: 700">{{items.ObjectAgent.cname}}</span>
                <br> Email: <span style="font-weight: 700">{{items.ObjectAgent.cemail}}</span>
                <br> Proposal status : <span style="font-weight: 700">{{items.Proposalstatus}}</span>
            </div>
            <div class="col-md-12">
            <h5 style="border-bottom: 2px dashed #aba5a5;color: #bd1218;text-transform: uppercase;font-weight: bold;">Price on Tiers<span style="text-transform: initial;font-style: italic;">{{ item.ValueEditModel == "package"? "("+ item.noteDirectModel +")" : "("+item.noteTiers+")" }}</span></h5>
                <table border=1 style="margin-bottom: 0; width: 100%;">
                            <tbody ng-if="items.lsDirectModel.length == 0 || item.ValueEditModel === 'proposal'">
                                <tr style="height: 55px;">
                                    <td ng-repeat="x in items.tiers" ng-if="x.pax>0">
                                        <div class="divResultHead" >
                                            <div style="background: yellowgreen;height: 34px;line-height: 29px;" class="divThResult">{{ ($index < items.tiers.length -1 && items.tiers[$index + 1].pax> 0) ? '(' + items.tiers[$index].pax + ' - ' + (items.tiers[$index + 1].pax - 1) + ') Pax' : '(' + items.tiers[$index].pax + ') Pax +'}}</div>
                                            <div class="divTrResult"><span ng-bind-html="items.tiers[$index].price  |currencyFormat:items.currency"></span></div>

                                        </div>
                                    </td>
                                </tr>
                                <tr ng-if="item.ValueEditModel === 'proposal'">
                                    <td colspan="3"> TOTAL SGL SUPPLEMENT: <span ng-bind-html="totalSGlSUPPL |currencyFormat:items.currency"></span> </td>
                                </tr>
                            </tbody>
                            <tbody ng-if="items.lsDirectModel.length > 0 && item.ValueEditModel !== 'proposal'" >
                                <tr style="height: 55px;background: yellowgreen;">
                                    <td style="text-align:center;font-weight:bold; color:black">Tiers</td>
                                    <td ng-repeat="x in items.lsDirectModel[0].tiers"  ng-if="x.pax > 0">
                                        <div class="divResultHead" ng-if="x.pax>0">
                                            <div class="divThResult">{{ ($index < items.lsDirectModel[0].tiers.length -1 && items.lsDirectModel[0].tiers[$index + 1].pax> 0) ? '(' + items.lsDirectModel[0].tiers[$index].pax + ' - ' + (items.lsDirectModel[0].tiers[$index + 1].pax - 1) + ') Pax' : '(' + items.lsDirectModel[0].tiers[$index].pax + ') Pax +'}}</div>
                                        </div>
                                    </td>
                                </tr>
                            </tbody>
                            <tbody  ng-if="items.lsDirectModel.length > 0 && item.ValueEditModel !== 'proposal'" ng-repeat="(DateGroup, vls) in items.lsDirectModel  |orderBy : 'beginDate' | groupBy: 'DateGroup'">
                                <tr ng-if="vls[0].priceShareRoom !== 0 && vls[0].priceSGLRoom !==0">
                                    <td colspan="{{lengthTiers}}"><div style="text-align:center;font-size:14px; font-weight:bold">{{DateGroup}}</div></td>
                                </tr>
                                <tr ng-repeat-start="x in vls">
                                    <td colspan="{{lengthTiers}}"><div  style="font-size:13px; font-weight:bold">{{x.name}}</div></td>
                                </tr>
                                <tr ng-repeat-end="x in vls">
                                    <td>
                                        <div  style="font-weight:bold">{{x.day > 0 ? ('Day ' + x.day + ' | ') : '' }}{{x.roomcategory + ' | ' + x.charge}}</div>
                                    </td>
                                    <td ng-repeat="y in x.tiers" ng-if="y.pax > 0">
                                        <div style="text-align:center;" ng-bind-html="y.price  |currencyFormat:items.currency"></div>
                                    </td>
                                </tr>
                                <tr>
                                    <td colspan="3"> TOTAL SGL SUPPLEMENT: <span ng-bind-html="totalSGlSUPPL |currencyFormat:items.currency"></span> </td>
                                </tr>
                            </tbody>
                        </table>
                <span ng-if="item.ValueEditModel === 'proposal'"  style="font-weight: bold"> ACCOMMODATION:</span> <span ng-if="item.ValueEditModel === 'proposal'" ng-bind-html="allHotel"></span>
            </div>
            <div class="col-md-12" ng-if="items.lsChildPolicy.length > 0">
                        <h5 style="border-bottom: 2px dashed #aba5a5;color: #bd1218;text-transform: uppercase;font-weight: bold;">
                            CHILD POLICY
                        </h5>
                        <table class="table-bordered table-striped table-condensed flip-content" style="margin-bottom:0;width:100%;">
                            <tbody>
                                <tr>
                                    <td style="width:80px">Age</td>
                                    <td ng-repeat="x in items.tiers"  ng-if="x.pax>0 ? true :false">
                                        <div class="form-group form-md-line-input form-md-floating-label has-error">          
                                            
                                            <label for="form_control_mk_{{x}}" style="top:0 !important">{{ ($index
                                            < items.tiers.length -1 && items.tiers[$index + 1].pax> 0) ? '(' + items.tiers[$index].pax + ' - ' + (items.tiers[$index + 1].pax - 1) + ') Pax' : '(' + items.tiers[$index].pax + ') Pax +'}}</label>
                                        </div>
                                    </td>
                                </tr>
                                <tr>
                                    <td> 
                                        <div ng-repeat="y in items.lsChildPolicy track by $index" class="form-group form-md-line-input form-md-floating-label has-error" style="font-weight: bold;">  
                                            {{y.ageFrom}} - {{y.ageTo}}                                                               
                                        </div>
                                    </td>
                                    <td ng-repeat="m in items.tiers" ng-if="m.pax>0 ? true :false">
                                        <div ng-repeat="y in m.priceChild track by $index" class="form-group form-md-line-input form-md-floating-label has-error">           
                                            <span ng-bind-html="y |currencyFormat:items.currency"></span>
                                        </div>
                                    </td>
                                </tr>

                            </tbody>
                        </table>   
                    </div>
            <div class="col-md-9" ng-if="items.lsExtra.length >0">
             <h5 style="border-bottom: 2px dashed #aba5a5;color: #bd1218;text-transform: uppercase;font-weight: bold;">SURCHARGE/EXTRA</h5>
                <table class="table table-bordered table-striped table-condensed flip-content">
                    <thead class="flip-content">

                        <tr>
                            <th>SURCHARGE/EXTRA</th>
                            <th>CHARGE POLICY</th>
                            <th>PRICE</th>
                            <th>NOTE</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr ng-repeat="v in items.lsExtra">
                            <td>{{v.extra}}</td>
                            <td>{{v.charge}}</td>
                            <td><span ng-bind-html="v.price |currencyFormat:items.currency"></span></td>
                            <td>{{v.note}}</td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <div class="col-md-12" ng-if="items.DirectMarkup.length >0" >
            <h5 style="border-bottom: 2px dashed #aba5a5;color: #bd1218;text-transform: uppercase;font-weight: bold;">PRICE ON SERVICE</h5>
                        <div ng-repeat="(DateGroup, vls) in  items.DirectMarkup  | groupBy: 'DateGroup'">
                            <h4>From: {{DateGroup}}</h4>
                            <p ng-repeat="x in vls | orderBy:'time' ">{{x.name}} | {{x.charge}} | <span ng-bind-html="x.price |currencyFormat:items.currency"></span> | {{x.note}} </p>
                        </div>
                    </div>
            <div class="col-md-12">
                <span ng-bind-html="content"></span>
            </div>
            <div ng-if="ShownoteContent">
                        <h5 style="border-bottom: 2px dashed #aba5a5;color: #bd1218;text-transform: uppercase;font-weight: bold;">General Note</h5>
                        <span ng-bind-html="noteContent"></span>
                    </div>
            <div class="col-md-12" ng-if="timeVal.length > 0">
                     <h5 style="border-bottom: 2px dashed #aba5a5;color: #bd1218;text-transform: uppercase;font-weight: bold;">Suggested Departure</h5>
                <table class="table table-bordered table-striped table-condensed flip-content">
                    <thead class="flip-content">
                        <tr>
                            <td colspan="3">Total Duration <span style="color:#0a40e0">{{timeView}}</span> </td>
                        </tr>
                        <tr>
                            <th>Time</th>
                            <th>Description</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr ng-repeat="v in timeVal">
                            <td>{{v.TimeVl}}</td>
                            <td>{{v.description}}</td>
                           
                        </tr>
                    </tbody>
                </table>
            </div>
            <div class="col-md-12">
                <span ng-bind-html="term"></span>
            </div>
        </div>
    </div>
    <div id="editor"></div>
</div>
</div>

<!-- END INNER FOOTER -->