<style>
    .clsProfile>div,
    .clsChangePass>div {
        margin-bottom: 8px!important;
    }
    
    .inputfile {
        width: 0.1px;
        height: 0.1px;
        opacity: 0;
        overflow: hidden;
        position: absolute;
        z-index: -1;
    }
    
    .inputfile+label {
        color: #f1e5e6;
        background-color: #d3394c;
        font-size: 19px;
        font-weight: 700;
        display: inline-block;
        padding: 5px 10px;
        border-radius: 5px;
    }
    
    .inputfile:focus+label,
    .inputfile+label:hover {
        background-color: #722040;
    }
    
    .inputfile+label {
        cursor: pointer;
        /* "hand" cursor */
    }
    
    .inputfile:focus+label {
        outline: 1px dotted #000;
        outline: -webkit-focus-ring-color auto 5px;
    }
</style>
<!-- END SAMPLE TABLE PORTLET-->
<div id="popupProfile" class="modal fade bs-example-modal-lg" tabindex="-1" role="dialog">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" style="font-weight:bold;color:#296fb5;">
                    My Profile
                </h4>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-md-4">
                        <center>
                            <h4 style="margin:5px; color:#32c5d2;font-weight:bold">Avatar</h4>
                            <img style="    width: 53%;border-radius: 82px;height: auto;margin-bottom: 10px;border: 3px solid #8a8989;" ng-src="{{ImgProfile.base64 ? 'data:image/jpeg;base64,'+ ImgProfile.base64: '/image/' + (User.nameImg == null ? 'avatar6.jpg': ('users/' + User.nameImg))}}">
                            <input type='file' id="fileImgProfile" class="inputfile" ng-model='ImgProfile' base-sixty-four-input>
                            <label style="vertical-align:middle; margin-bottom:0;font-size:16px" for="fileImgProfile"><span class="glyphicon glyphicon-open" aria-hidden="true"></span> Choose a image...</label>
                            <a style="text-transform:none;padding:5px;;font-size:15px" href="javascript:;" class="btn btn-xs green" ng-click="UpdateImgProfile()"> Save Image</a>
                        </center>
                    </div>
                    <div class="col-md-8">
                        <div class="clsProfile" class="col-md-12">
                            <div class="col-md-6 form-group form-md-line-input has-error">
                                <input ng-model="User.fullname" type="text" class="form-control" id="form_control_1" placeholder="Enter full name">
                                <label for="form_control_1">Full name</label>
                            </div>
                            <div class="col-md-6 form-group form-md-line-input has-error">
                                <input ng-model="User.company" type="text" class="form-control" id="form_control_2" placeholder="Enter company name">
                                <label for="form_control_2">Company name</label>
                            </div>
                            <div class="col-md-6 form-group form-md-line-input has-error">
                                <input ng-model="User.username" type="text" class="form-control" id="form_control_3" placeholder="Enter login name">
                                <label for="form_control_3">Username</label>
                            </div>
                            <div class="col-md-6 form-group form-md-line-input has-error">
                                <div class="input-group">
                                    <span class="input-group-addon" style="padding-bottom:3px;">
                                        <i class="fa fa-envelope"></i>
                                    </span>
                                    <input ng-model="User.email" type="text" class="form-control" placeholder="Email Address">
                                    <label for="form_control_4">Email</label>
                                </div>
                            </div>
                            <div class="col-md-12">
                                <a style="text-transform:none;float:left;padding:5px;;font-size:15px" href="javascript:;" class="btn btn-xs green" ng-click="UpdateProfile()">Update profile</a>
                                <a style="text-transform:none;float:right;padding:5px;font-size:15px" href="javascript:;" class="btn btn-xs red" ng-click="ClickShowChangePass()">
                                    <i class="fa fa-key"></i> Change password
                                </a>
                            </div>
                        </div>
                        <div ng-show="ShowChangePass" class="clsChangePass" class="col-md-12">
                            <div class="col-md-4 form-group form-md-line-input has-error">
                                <input ng-model="UserPass.oldpass" type="password" class="form-control" id="form_control_1" placeholder="Enter password">
                                <label for="form_control_1">Old password</label>
                            </div>
                            <div class="col-md-4 form-group form-md-line-input has-error">
                                <input ng-model="UserPass.newpass" type="password" class="form-control" id="form_control_2" placeholder="Enter new password">
                                <label for="form_control_2">New password</label>
                            </div>
                            <div class="col-md-4 form-group form-md-line-input has-error">
                                <input ng-model="UserPass.cfmpass" type="password" class="form-control" id="form_control_3" placeholder="Enter confirm password">
                                <label for="form_control_3">Confirm password</label>
                            </div>
                            <div class="col-md-12">
                                <a style="text-transform:none;float:right;margin-top:15px; padding:5px;;font-size:15px" href="javascript:;" class="btn btn-xs green" ng-click="ChangePass()">Update password</a>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>
        <!-- /.modal-content -->
    </div>
    <!-- /.modal-dialog -->
</div>
<!-- /.modal -->


<ul class="nav navbar-nav pull-right" style="position: absolute;
    right: 0;
    top: 0px;">
    <li class="dropdown dropdown-user dropdown-dark">
        <a href="javascript:;" class="dropdown-toggle" data-toggle="dropdown" data-hover="dropdown" data-close-others="true" aria-expanded="false">
            <img style="width: 41px;height: 41px;border: 2px solid #ffffff;" alt="" class="img-circle" src="/image/{{User.nameImg == null ? 'avatar6.jpg': ('users/' + User.nameImg)}}">
            <span class="username username-hide-mobile">{{User.fullname}} </span>
        </a>
        <ul class="dropdown-menu dropdown-menu-default">
            <li>
                <a ng-click="ShowProfile()" href="javascript:;">
                    <i class="icon-user"></i> My Profile </a>
            </li>
            <li>
                <a ng-click="Logout()" href="javascript:;">
                    <i class="icon-key"></i> Log Out </a>
            </li>
        </ul>
    </li>
    <!-- END USER LOGIN DROPDOWN -->
</ul>