<style>
    .ellipsis {
        text-overflow: ellipsis!important;
        white-space: nowrap!important;
        overflow: hidden!important;
        display: inline-block;
    }
    
    table td {
        white-space: nowrap!important;
    }
    
    .form-body>div {
        margin-bottom: 3em!important;
    }
    
    .colortextMenu {
        color: #fff;
    }
    
    .activeSelect {
        background-color: #fff;
    }
    
    .activeSelect a {
        color: #000;
        font-weight: 600;
    }
    
    .dropbtn {
        background-color: #55616f;
        color: white;
        padding: 9px;
        font-size: 12px;
        border: none;
        cursor: pointer;
    }
    
    .dropdown {
        position: relative;
        display: inline-block;
    }
    
    .dropdown-content {
        z-index: 9999999;
        display: none;
        position: absolute;
        background-color: #f9f9f9;
        min-width: 160px;
        box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
        font-size: 12px;
    }
    
    .dropdown-content a {
        color: black;
        padding: 12px 16px;
        text-decoration: none;
        display: block;
    }
    
    .dropdown-content a:hover {
        background-color: #7d7a7a;
    }
    
    .dropdown:hover .dropdown-content {
        display: block;
    }
    
    .dropdown:hover .dropbtn {
        background-color: #3e8e41;
    }
    
    @media (min-width: 768px) {
        /*.clsShortText {
            max-width: 70px !important;
        }*/
        .clsNumber {
            width: 70px !important;
        }
        .clsControl {
            width: 80px !important;
            text-align: center;
        }
        .clsPrice {
            width: 120px !important;
        }
    }
    
    .deleteImage {
        font-weight: bold;
        position: absolute;
        top: 5px;
        right: 7px;
        font-size: 12px;
        background: #f71414;
        width: 17px;
        height: 17px;
        padding: 0px;
        color: #fff;
        text-align: center;
        border-radius: 3px;
    }
</style>


<div class="page-header">
    <!-- BEGIN HEADER TOP -->
    <!--<img style="width:100%;height:145px;" src="/image/{{WebInfo.webBanner}}">-->
    <!-- END HEADER TOP -->
</div>
<login-signup></login-signup>
<div class="page-header-menu" style="display: block; background: #55616f!important;margin-top: -1px;">
    <div class="container">
        <div class="hor-menu ">
            <div class="dropdown">
                <a href="/tourview-tl/servicegroup"><button class="dropbtn"> SERVICE </button></a>
            </div>
            <div ng-if="IsAdmin == true || IsEdit" class="dropdown">
                <a href=""><button class="dropbtn"> SETUP</button></a>
                <div class="dropdown-content">
                    <a href="/tourview-tl/tariffperiod">TARIFF PERIOD</a>
                    <a href="/tourview-tl/geotree">GEO TREE</a>
                    <a href="/tourview-tl/servicetype">SERVICE TYPE</a>
                    <a href="/tourview-tl/servicecategory">TOUR DURATION</a>
                    <a href="/tourview-tl/exchangerate">EXCHANGE RATE</a>
                    <a href="/tourview-tl/supplier">SUPPLIER</a>
                    <a href="/tourview-tl/priority">TOUR CATEGORY</a>
                    <a ng-if="IsAdmin==true" href="/tourview-tl/notify">NOTIFY</a>
                </div>
            </div>
            <div class="dropdown" ng-if="IsAdmin==true">
                <a href="/tourview-tl/users"><button class="dropbtn"> USERS</button></a>
            </div>
            <div class="dropdown" ng-if="IsAdmin==true">
                <a href="/tourview-tl/webinfo"><button class="dropbtn"> MANAGER INFO WEBSITE</button></a>
            </div>
        </div>
    </div>
</div>
<div class="page-container">
    <!-- BEGIN CONTENT -->
    <div class="page-content-wrapper">
        <div class="page-content" ng-init="InitWebInfo()">
            <div class="container">
                <div class="page-content-inner row">
                    <!-- BEGIN SAMPLE TABLE PORTLET-->
                    <div class="col-md-12 col-sm-12 col-xs-12 col-lg-12">
                        <div class="portlet box blue" style="margin-top: 1em">
                            <div class="portlet-title">
                                <div class="caption collapse">
                                    <i class="fa fa-cogs"></i>Web banner </div>
                                <div class="tools">
                                    <a href="javascript:;" class="collapse"> </a>
                                </div>
                            </div>
                            <div class="portlet-body">
                                <center>
                                    <img style="max-width:100%;margin-bottom:10px;" ng-src="{{ImgWebBanner != null ? ('data:image/jpeg;base64,'+ ImgWebBanner.base64) : (WebInfo.webBanner == '' ? '/image/default-img.gif': ('/image/' + WebInfo.webBanner))}}">
                                    <br>
                                    <input type='file' id="fileImgWebBanner" accept="image/png" class="inputfile" ng-model='ImgWebBanner' base-sixty-four-input>
                                    <label style="vertical-align:middle; margin-bottom:0;font-size:16px" for="fileImgWebBanner">
                                        <span class="glyphicon glyphicon-open" aria-hidden="true"></span> Choose a image...
                                    </label>
                                    <a style="text-transform:none;padding:5px;;font-size:15px" href="javascript:;" class="btn btn-xs green" ng-click="UpdateImgWebBanner()"> Save Image</a>
                                </center>
                            </div>
                        </div>
                    </div>
                    <!-- END SAMPLE TABLE PORTLET-->
                    <!-- BEGIN SAMPLE TABLE PORTLET-->
                    <div class="col-md-12 col-sm-12 col-xs-12 col-lg-12">
                        <div class="portlet box blue" style="margin-top: 1em">
                            <div class="portlet-title">
                                <div class="caption collapse">
                                    <i class="fa fa-cogs"></i>Export banner </div>
                                <div class="tools">
                                    <a href="javascript:;" class="collapse"> </a>
                                </div>
                            </div>
                            <div class="portlet-body">
                                <center>
                                    <img style="max-width:100%;margin-bottom:10px;" ng-src="{{ImgExpBanner.base64 ? 'data:image/jpeg;base64,'+ ImgExpBanner.base64: '/image/default-img.gif'}}">
                                    <br>
                                    <input type='file' id="fileImgExpBanner" class="inputfile" ng-model='ImgExpBanner' base-sixty-four-input>
                                    <label style="vertical-align:middle; margin-bottom:0;font-size:16px" for="fileImgExpBanner">
                                        <span class="glyphicon glyphicon-open" aria-hidden="true"></span> Choose a image...
                                    </label>
                                    <a style="text-transform:none;padding:5px;;font-size:15px" href="javascript:;" class="btn btn-xs green" ng-click="UpdateImgExpBanner()"> Save Image</a>
                                </center>
                            </div>
                        </div>
                    </div>
                    <!-- END SAMPLE TABLE PORTLET-->
                    <!-- BEGIN SAMPLE TABLE PORTLET-->
                    <div class="col-md-12 col-sm-12 col-xs-12 col-lg-12">
                        <div class="portlet box blue" style="margin-top: 1em">
                            <div class="portlet-title">
                                <div class="caption collapse">
                                    <i class="fa fa-cogs"></i>Slide image </div>
                                <div class="tools">
                                    <a href="javascript:;" class="collapse"> </a>
                                </div>
                            </div>
                            <div class="portlet-body">
                                <center>
                                    <img style="width:auto;height:180px;max-width:100%;margin-bottom:10px;" ng-src="{{ImgSlide.base64 ? 'data:image/jpeg;base64,'+ ImgSlide.base64: '/image/default-img.gif'}}">
                                    <input type='file' id="fileImgSlide" class="inputfile" ng-model='ImgSlide' base-sixty-four-input>
                                    <label style="vertical-align:middle; margin-bottom:0;font-size:16px" for="fileImgSlide">
                                        <span class="glyphicon glyphicon-open" aria-hidden="true"></span> Choose a image...
                                    </label>
                                    <a style="text-transform:none;padding:5px;;font-size:15px" href="javascript:;" class="btn btn-xs green" ng-click="AddImgSlide()"> Save Image</a>
                                </center>
                                <div class="col-md-12">
                                    <div class="col-xs-6 col-md-3" ng-repeat="x in WebInfo.listSlide">
                                        <span class="deleteImage" ng-click="DeleteImgSlide($index)">x</span>
                                        <a class="thumbnail">
                                            <img ng-src="/image/slider/{{x.name}}" alt="...">
                                        </a>
                                    </div>
                                </div>
                                <div style="clear:both"></div>

                            </div>
                        </div>
                    </div>
                    <!-- END SAMPLE TABLE PORTLET-->
                    <!-- BEGIN SAMPLE TABLE PORTLET-->
                    <div class="col-md-12 col-sm-12 col-xs-12 col-lg-12">
                        <div class="portlet box blue" style="margin-top: 1em">
                            <div class="portlet-title">
                                <div class="caption collapse">
                                    <i class="fa fa-cogs"></i>Term and condition</div>
                                <div class="tools">
                                    <a href="javascript:;" class="collapse"> </a>
                                </div>
                            </div>
                            <div class="portlet-body">
                                <a style="text-transform:none;padding:5px 10px;font-size:15px;margin-bottom:10px;" href="javascript:;" class="btn btn-xs green" ng-click="SaveTerm()"> Save</a>
                                <textarea name="editor"></textarea>
                            </div>
                        </div>
                    </div>
                    <!-- END SAMPLE TABLE PORTLET-->
                    <!-- BEGIN SAMPLE TABLE PORTLET-->
                    <div class="col-md-12 col-sm-12 col-xs-12 col-lg-12">
                        <div class="portlet box blue" style="margin-top: 1em">
                            <div class="portlet-title">
                                <div class="caption collapse">
                                    <i class="fa fa-cogs"></i>Cover page</div>
                                <div class="tools">
                                    <a href="javascript:;" class="collapse"> </a>
                                </div>
                            </div>
                            <div class="portlet-body">
                                <a style="text-transform:none;padding:5px 10px;font-size:15px;margin-bottom:10px;" href="javascript:;" class="btn btn-xs green" ng-click="SaveCoverPage()"> Save</a>
                                <textarea name="editorCoverPage"></textarea>
                            </div>
                        </div>
                    </div>
                    <!-- END SAMPLE TABLE PORTLET-->
                </div>
            </div>
        </div>
    </div>
    <!-- END CONTENT -->

</div>


<!-- BEGIN INNER <F></F>OOTER -->
<div class="page-footer">
    <div class="container"> 2016 &copy; Codeteamvn.
    </div>
</div>
<div class="scroll-to-top">
    <i class="icon-arrow-up"></i>
</div>
<!-- END INNER FOOTER -->